#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.counter {
  margin-bottom: 1rem;
}

.input-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}


.input-container button {
  margin-top: 1rem;
}